
body {
    background-color: moccasin;
    font-size: medium;
}

h1, h2, h3, b {
    color: black;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

a {
    color: black;
}

.line {
    height: 1px;
    background-color: #525D76;
    border: none;
}
.captionRow{
    font-weight: bold;
    background-color: gray;
    align-content: center;
}
